@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff2),
   url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Light.woff2)
   url(../fonts/OpenSans-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.woff2)
   url(../fonts/Roboto-Light.woff);
  font-weight: 300;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-gray: #dddddd;
}

/* Global */

.page-body {
  min-width: 1600px;
  margin: 0 auto;
  font-family: "OpenSans", "Arial" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.container {
  width: 1168px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #696969;
  color: #fff;
  opacity: 0.5;
}

.visually-hidden {
  display: none;
}

.label {
  display: none;
}

/* Header */

.main-header {
  min-height: 110px;
  display: flex;
  justify-content: space-between;
}

.header-logo-pic:hover {
  opacity: 0.7;
}

.header-logo-pic:active {
  opacity: 1;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 66px;
  list-style: none;
}

.main-nav-list-item  a {
  margin-right: 30px;
  color: var(--basic-black);
}

.main-nav-list-item a:hover {
  opacity: 0.5;
}

.main-nav-list-item a:active {
  opacity: 1;
}

.main-nav-list-item:last-child {
  margin-right: 0;
}

/* Main Gallery */

.gallery-container {
  width: 1612px;
  margin: 0 auto;
}

.main-gallery-img {
  width: 400px;
  height: 400px;
}

/* Promo */

.promo {
  width: 1410px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.promo-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.promo-top-title {
  width: 331px;
  font-size: 35px;
  line-height: 47.5px;
  font-weight: 300;
  margin-right: 60px;
  align-self: flex-start;
}

.promo-top-subtitle {
  width: 373px;
  font-size: 14px;
  line-height: 19px;
  margin-right: 76px;
}

.promo-top-pic {
  width: 300px;
  height: 250px;
}

.promo-bottom {
  display: flex;
  justify-content: space-between;
}

.promo-bottom-title {
  width: 219px;
  font-size: 35px;
  line-height: 47.5px;
  font-weight: 300;
  margin-right: 169px;
}

.promo-bottom-subtitle {
  width: 373px;
  font-size: 14px;
  line-height: 19px;
  margin-right: 79px;
}

/* Benefits */

.benefits {
  display: flex;
  align-items: center;
  min-height: 304px;
  background-image: url(../img/main_page/benefits_city_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.benefits-list {
  width: 1410px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.benefits-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 213px;
  list-style: none;
}

.benefits-title {
  width: 213px;
  height: 100px;
  display: block;
  text-align: center;
  font-size: 80px;
  line-height: 109px;
  padding-bottom: 0;
}

.benefits-subtitle {
  width: 213px;
  display: block;
  height: 63px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}


/* Brands */

.brands {
  width: 1168px;
  margin: 0 auto;
}

.brands-title {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  padding-bottom: 32px;
  border-bottom: 1px solid #696969;
}

.brands-columns {
  width: 988px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 102px;
}

.brands-left {
  width: 434px;
  display: flex;
  justify-content: space-between;
}

.brands-left-list {
  list-style: none;
}

.brands-right {
  width: 403px;
  display: flex;
  justify-content: space-between;
}

.brands-right-list {
  list-style: none;
}

/* Footer */

.main-footer {
  background-color: var(--basic-black);
  color: var(--basic-white);
  padding-top: 47px;
}

.footer-container {
  width: 1168px;
  margin: 0 auto;
  padding-top: 27px;
  border-top: 1px solid #696969;
  display: flex;
  justify-content: space-around;
}

.footer-social-title {
  min-width: 177px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 22px;
}

.footer-social-phone {
  min-width: 303;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
  padding-left: 30px;
  position: relative;
}

.footer-social-phone::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-color: #fff;
  background: url(../img/svg/footer_phone_icon.svg) no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-social-mail {
  width: 228px;
  padding-left: 30px;
  position: relative;
}

.footer-social-mail::before {
  content: "";
  display: block;
  width: 23px;
  height: 18px;
  background-color: #fff;
  background: url(../img/svg/footer_mail_icon.svg) no-repeat center;
  position: absolute;
  top: 5px;
  left: 0;
}

.footer-social-adress {
  min-width: 277px;
  margin-bottom: 23px;
  padding-left: 30px;
  position: relative;
}

.footer-social-adress::before {
  content: "";
  display: block;
  width: 17px;
  height: 24px;
  background-color: #fff;
  background: url(../img/svg/footer_location_pin_icon.svg) no-repeat center;
  position: absolute;
  top: -5px;
  left: 0;
}

.footer-social-inst {
  min-width: 452px;
  font-size: 14px;
  line-height: 19px;
  padding-left: 30px;
  position: relative;
}

.footer-social-inst::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: #fff;
  background: url(../img/svg/footer_instagram_icon.svg) no-repeat center;
  position: absolute;
  top: -5px;
  left: 0;
}

.footer-legal-title {
  min-width: 198px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 21px;
}

.footer-legal-subtitle {
  min-width: 123px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 19px;
}

.footer-legal-acc-number {
  min-width: 144px;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 22px;
}

.footer-order-button {
  display: block;
  padding: 15px 20px;
  text-align: center;
}

.footer-order-button:hover {
  opacity: 1;
  border-color: var(--basic-white);
}

.footer-order-button:active {
  color: var(--basic-black);
  border-color: var(--basic-black);
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  cursor: pointer;
}
.footer-copyright:hover {
  opacity: 1;
}

.footer-copyright:active {
  opacity: 0.5;
}

/* Main Page end */

.perfumes-catalog-title {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 34px;
}

.perfumes-catalog-wrapper {
  width: 1147px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.perfumes-catalog-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.perfumes-catalog-item:hover {
  opacity: 0.5;
}

.want-to-work-with-us {
  min-height: 300px;
  background-image: url(../img/catalog_page/catalog_work_w_us_background.png);
  background-position: center;
}

.work-with-us-title {
  font-size: 45px;
  line-height: 61px;
  padding-top: 32px;
  padding-left: 238px;
  padding-bottom: 42px;
  color: var(--basic-gray);
}

.work-with-us-description {
  width: 1134px;
  font-size: 35px;
  line-height: 47px;
  padding-left: 238px;
  padding-bottom: 50px;
  color: var(--basic-gray);
}

/* Catalog Page end */


.bois-brand-title {
  text-align: center;
  font-size: 35px;
  line-height: 48px;
}

.bois-brand-wrapper {
  width: 1101px;
  margin: 0 auto;
  padding-bottom: 66px;
  display: flex;
}

.bois-brand-subtitle {
  width: 554px;
  margin-right: 54px;
}

.bois-brand-pic {
  width: 489px;
  height: 448px;
}

/* Bois Page end */

.contacts-form-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 69px;
}

.form-wrapper {
  width: 931px;
  min-height: 550px;
  margin: 0 auto;
  position: relative;
}

.contacts-form-form {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.name-field,
.email-field,
.phone-field,
.company-field {
  box-sizing: border-box;
  width: 450px;
  height: 50px;
  padding-left: 25px;
  margin-bottom: 30px;
}

.name-field:hover,
.email-field:hover,
.phone-field:hover,
.company-field:hover {
  opacity: 0.5;
}

.name-field:active,
.email-field:active,
.phone-field:active,
.company-field:active {
  border-color: var(--basic-black);
}

.name-field,
.phone-field {
  margin-right: 27px;
}

.contacts-form-fieldset {
  min-height: 203px;
  margin-bottom: 34px;
}

.contacts-form-button {
  font-family: "Roboto", "Arial", sans-serif;
  display: block;
  padding: 15px 59px;
  text-align: center;
  color: var(--basic-black);
  margin-bottom: 117px;
  position: absolute;
  right: 0;
}

.contacts-form-button:hover {
  opacity: 1;
}

.contacts-map-wrapper {
  width: 1600px;
  margin: 0 auto;
}

.contacts-map {
  width: 100%;
}
